!!! Strict
%html{html_attrs(I18n.locale.to_s)}
  %head
    %meta{ :context => 'text/html;charset=UTF-8', "http-equiv" => 'content-type'}
  %body
    %h2= t('user_mailer.signup_notification.title')
    %p= t('user_mailer.signup_notification.body')
    %p= confirm_account_url(:token => @user.perishable_token, :locale => I18n.locale)
    %p= t('user_mailer.signup_notification.login_credentials')
    %p
      = User.human_attribute_name('login')+ ": " + @user.login
      %br
      = User.human_attribute_name('password') + ": " + @user.password

