.group
  = form.label :login, nil, :class => 'label'
  = form.text_field :login, :class => 'text_field'
.group
  = form.label :email, nil, :class => 'label'
  = form.text_field :email, :class => 'text_field'
.group
  = form.label :password, form.object.new_record? ? nil : "Change password", :class => 'label'
  = form.password_field :password, :class => 'text_field'
.group
  = form.label :password_confirmation, nil, :class => 'label'
  = form.password_field :password_confirmation, :class => 'text_field'
