- title t('.title')

#account-edit.block
  .content
    %h2= yield :title
  .inner
    - form_for @user, :url => account_path do |f|
      = f.error_messages
      = render :partial => f
      = f.submit t('.submit')
    %br
    = link_to t('.profile'), account_path
